
<style>
    body#index4 {
    padding-top: 50px;
    background: #FFF;
    }
    .menu-offcanvas-right {position:absolute; left:100%; top:0px; width:100%; height:0px; overflow:hidden;}
    .menu-offcanvas-right.active {left: 0%; height:auto; overflow:auto;}

    #id_hour, #id_maohao, #id_minute{
        float:left;
        padding-left:0px;

    }
    #id_ampm{
        float:left;
        margin-top:15px;
        font-size:20px;
        padding-left:5px;
    }

    #index4 .content {background: #FD9322;}
    #index4 .timeline {background: #FFF;}
</style>


<div class="wrapper animate">
    <div class="navbar navbar-inverse navbar-static-top" style="margin:0;">
        <a class="btn-menu" data-toggle="offcanvas" href="#">Menu</a>

        <div class="container">
            <div class="navbar-header">
               
                <h1 ng-show="attdata.type == 'fromschool' ">{{ attdata.bus.fs_bus_name_or_number }}</h1>
                <span class="time" ng-show="attdata.type == 'fromschool' ">{{ attdata.bus.fs_time_start }} - {{ attdata.bus.fs_time_end }}</span>
             
                <h1 ng-show="attdata.type == 'toschool' ">{{ attdata.bus.ts_bus_name_or_number }}</h1>
                <span class="time" ng-show="attdata.type == 'toschool' ">{{ attdata.bus.ts_time_start }} - {{ attdata.bus.ts_time_end }}</span>
                
            </div>
        </div>
		<a class="btn-chat" href="#my_messages"><span ng-show="attdata.notifications_count > 0">{{ notifications_count }}</span></a>
        <a class="btn-transport" href="#my_buses">Transport</a>

    </div>

    <div class="content container">
        <div class="date text-center" style="background-color: #5c842f;" ng-show="attdata.Attendance_Taking_Mode == 'true'">
            <p style="color: white;">Attendance Taking Mode</p>
        </div>
        
        <div class="date text-center">
	        <h1>
	            <a class="btn-prev" href="#attendance_view_tab">Prev</a>
	            <a style="color:#fff;text-decoration: none;" href="#attendance_view_tab">{{ attdata.current_date }}</a>
	            <a class="btn-next" href="#attendance_view_tab">Next</a>
	        </h1>
	    </div>
	    
	    <div class="dashboard text-center">

            <div class="row">
                <div class="db-time">
                    <div id="id_hour" style="padding-left:8%;">07</div><div id="id_maohao">:</div><div id="id_minute" >22</div> <span id="id_ampm">AM</span>
                </div>
                <div class="db-total">
                    {{ attdata.students_takingbustoday_length }} <span>Taking Bus Today</span>
                </div>
            </div>
            <div class="row">
                <div class="db-col">
                    <a href="{% url 'attendance_view_tab' bus_id curr_date type 'Total' %}">{{ attdata.students_total_length }} <span>Total</span> </a>
                      <div class="active" ng-show="attdata.tab == 'Total'"></div>
                </div>
                <div class="db-col">
                    <a href="{% url 'attendance_view_tab' bus_id curr_date type 'More' %}">{{ attdata.students_more_length }} <span>More</span></a>
                      <div class="active" ng-show="attdata.tab == 'More'"></div>
                </div>
                <div class="db-col">
                    <a href="{% url 'attendance_view_tab' bus_id curr_date type  'InTheBus' %}">{{ attdata.students_inthebus_length }} <span>In the Bus</span></a>
                      <div class="active" ng-show="attdata.tab == 'InTheBus'"></div>

                </div>
                <div class="db-col highlight">
                    <a href="{% url 'attendance_view_tab' bus_id curr_date type 'Absent' %}">{{ attdata.students_total_absent_length }} <span>Absent</span></a>
                      <div class="active" ng-show="attdata.tab == 'Absent'"></div>
                </div>

            </div>
            
        </div>
    </div>
    <!-- /container -->
</div>

<script type="text/javascript" src="js/plugins/jquery-blink.js"></script>
    <script type="text/javascript">


        //$(document).ready(function(){
            refreshTime();
            $('#id_maohao').show();

            // start
            $('#id_maohao').blink({
                delay: 1000
            },
            refreshTime
            );

        //});

        var refreshTime=function(){
                var d = new Date();
                var H = d.getHours();
                var hour = H > 12 ? H - 12 : H == 0 ? 12 : H;
                $('#id_hour').html( hour );
                var min = d.getMinutes();
                $('#id_minute').html(min>=10? ""+min : "0"+min);
                $('#id_ampm').html(H < 12 ? "AM" : "PM");
            }

        

    </script>
