<div id="index">
<div class="wrapper animate">
    <div class="navbar navbar-inverse navbar-static-top" style="margin:0;">
      <div class="container">
        <div class="navbar-header">
          <h1><a href="#">Bus</a></h1>
        </div>
      </div>
      <ul class="navbar-right-menu">
        <li><a class="navbar_icn_01" href="tel:{{tripdata.bus.asst_tel}}">Phone</a></li>
        <li><a class="navbar_icn_02" href="#">Group</a></li>
      </ul>
    </div>
    
    <div class="content container">
        <div class="reference expand">
            <span class="ref_name"><strong>{{tripdata.bus.asst_name}} - {{tripdata.bus.corp_name}}</strong></span><br>
            <span class="ref_address">{{tripdata.bus.corp_address}}</span>
        </div>
    
        <div class="date text-center">
            <h1>
            <a class="btn-prev" href="#/main/{{tripdata.prev_date}}">Prev</a>
            <span ng-model="tripdata.current_date">{{ tripdata.current_date }}</span>
             <a class="btn-next" href="#/main/{{tripdata.next_date}}">Next</a>
            </h1>
        </div>
        
        <div class="name text-center">
            {{tripdata.student}}
        </div>
        
        <div class="dashboard text-center">
            <div class="row">
                <div class="db-time">
                    <div class="db-center">
                    <div ng-class="tripdata.trip_toschool.stamp"></div>
                    <span class="venue">To School</span>
                    <span class="action">PICKUP TIME</span>
                    {{tripdata.trip_toschool.pickup_time}} <span style="margin-left:-5px;">{{tripdata.trip_toschool.time_p}} </span>
                    <span class="stops_count">ONE STOP AWAY</span>
                    </div>
                </div>
                <div class="db-total">
                    <div class="db-center">
                    <div ng-class="tripdata.trip_fromschool.stamp"></div>
                    <span class="venue">From School</span>
                    <span class="action">DROPOFF TIME</span>
                    {{tripdata.trip_fromschool.dropoff_time}} <span style="margin-left:-5px;">{{tripdata.trip_fromschool.time_p}} </span>
                    <span class="stops_count">ONE STOP AWAY</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="taking">
                    {{ tripdata.trip_toschool.trip_status}}
                </div>
                <div class="not-taking">
                    {{ tripdata.trip_fromschool.trip_status}}
                </div>
            </div>
        </div>
        
        <div class="timeline">
            <div class="timeline-content">
                <div class="timeline-block">
                  <ul>
                    <li class="clearfix" ng-repeat="message in tripdata.messages">
                        <div class="timeline-user">
                            <h4 class="timeline-username">{{message.title}}</h4>
                            <span class="timeline-address">Received on {{message.receive_time}}</span>
                        </div>
                        <a href="#">&nbsp;</a>
                    </li>
                    
                  </ul>
                  <br><br>
                </div>  
            </div>
        </div>
        <!--
        <div class="menu_btm2">
                <a href="#">Notify Schedule Change</a>
        </div>
        -->
        <div class="menu_btm">
                <ul>
                    <li><a class="menu_btm_msg active" href="#">Message</a></li>
                    <li><a class="menu_btm_notify" href="#">Notify</a></li>
                    <li><a class="menu_btm_profile" href="#">Profile</a></li>
                    <li><a class="menu_btm_settings" href="#">Settings</a></li>
                    <li><a class="menu_btm_logout" href="#" ng-click="logout()">Logout</a></li>
                </ul>
        </div>
    </div> <!-- /container -->      
</div>
</div>